*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #eeeeee;
    
}

.navbar {
    display: flex;
    margin-top: 16px;
    width: 70vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    gap: 2.5rem;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #000000;

}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    align-self: center;
}

.nav-links li button {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: #eeeeee;
    transition-duration: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.nav-links li button:hover {
    background-color: #222222;
    color: #eeeeee;
}

.hero {
    display: flex;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.text-hero {
    font-family: 'Jost', sans-serif;
    align-self: center;
    width: 500px;
    margin-top: 60px;
}

.text-hero h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.text-hero button {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    border: 1px solid black;
    background-color: #eeeeee;
    transition-duration: 0.2s;
    font-family: 'Poppins', sans-serif;
    margin-top: 18px;
}

.text-hero button:hover {
    background-color: #222222;
    color: #eeeeee;
}

.text-hero p {
    font-size: 1.2rem;
    font-weight: 500;
}

.hero img {
    width: 800px;
    padding-top: 60px;
    align-self: center;
}


.why-me {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 40px;
}

.why-me .title {
    font-family: 'Jost', sans-serif;
    color: #f0f0f0;
    font-size: 28px;
    padding-top: 40px;
    
}

.why-me .title h1 {
    font-weight: 400;
}

.cards {
    display: flex;
    margin-top: 60px;
    gap: 60px;
    padding-bottom: 80px;
}

.illustration {
    background-color: #eeeeee;
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

[class^="card-"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cards p {
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 200px;    
    margin-top: 16px;
}

.testimonial {
    background-color: #c3c3c3;

}

.quote {
    
    padding-bottom: 60px;

}

.words {
    width: 70vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    padding-top: 60px;
    color: #535353;
    font-style: italic;
    line-height: 1.2;
}

.author {
    width: 70vw;
    display: flex;
    font-family: 'Poppins';
    font-weight: 550;
    color: #1e1e1e;
    justify-content: flex-end;
}

.sign-up .container {
    background-color: #222222;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sign-up .container .text h3 {
    font-family: 'Jost', sans-serif;
    color: #eeeeee;
    font-weight: 500;
    font-size: 22px;
}

.sign-up .container .text p {
    font-family: 'Poppins', sans-serif;
    color: #b6b6b6;

}

.sign-up .container button {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    border: 1px solid black;
    background-color: #eeeeee;
    color: #000000;
    transition-duration: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.sign-up .container button:hover {
    
    border: 1px solid rgb(243, 243, 243);
    background-color: #181818;
    color: #eeeeee;
}
    
.sign-up .btn {
    align-self: center;
}

footer {
    background-color: #c3c3c3;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px;
    margin-top: 100px;
    font-size: 16px;
    color: #636363;
}